<h2>Search doctor by <strong>department</strong></h2>

<br />

<div class="row">
    {{> dataColumns specializationsData }}
</div>
<!--/.row-->

<hr />

<h2>Search clinic by <strong>location</strong></h2>

<br />

<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Map</a>
    </li> 
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-home-tab">
                    
    <div class="row">
        {{> dataColumns locationsData  }}
    </div> 
    <!--/.row-->
			
    </div>
    <!--/.tab-pane-->
    <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-profile-tab">
    
        <div id="map" style="width: 100%;height: 400px;"></div>
        <script>
            var locations = [
                {{#each locations as |location|}}
                    {
                        lat: {{{location.coordinations.lat}}},
                        lng: {{{location.coordinations.lon}}},
                        name: "{{{escape location.name}}}"
                    },
                {{/each}}
            ];
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA839hvZlHkWX80W6YRTuv3C7HToNVZhwc">
        </script>
    </div>
    <!--/.tab-pane--> 
</div>
<!--/.tab-content-->