<h2>Search doctor by <strong>department</strong></h2>

<br />

<div class="row">
    {{> dataColumns specializationsData }}
</div>
<!--/.row-->

<hr />

<h2>Search clinic by <strong>location</strong></h2>

<br />

<div class="row">
    {{> dataColumns locationsData  }}
</div>
<!--/.row-->