
    <h2>Search doctor by <strong>department</strong></h2>

    <br />
 
    <div class="row">
        {{> groupSpecializations specializations }}
        {{!-- <div class="col-xl-4 col-md-4 col-sm-6">

            <ul>
                <li><a href="/doctors">Allergology and Immunology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Pharmacy</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Vaccination</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Rehabilitation treatment</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Gastroenterology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Gynecology and Obstetrics</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Children's clinic</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Dermatovenereology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Diagnosis and analysis</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Cosmetology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Cardiology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Laboratory diagnostics</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Coloproctology</a> <span class="badge">1015</span></li>
            </ul>
 
        </div>
        <!--/.col-->
        <div class="col-xl-4 col-md-4 col-sm-6">
            <ul>
                <li><a href="/doctors">Ophthalmology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Mammalogy</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Manual therapy</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">MRI</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Neurology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Oncology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Orthopedics and Traumatology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Otolaryngology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Ozone therapy</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Plastic surgery</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Weight correction programs</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Annual Service Programs</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Psychotherapy</a> <span class="badge">1015</span></li>
            </ul>
 
        </div>
        <!--/.col-->
        <div class="col-xl-4 col-md-4 col-sm-6">
            <ul>
                <li><a href="/doctors">Pulmonology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Rheumatology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Stomatology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Sexology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Therapy</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Emergency room</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Trichology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Urology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Ultrasound diagnostics</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Phlebology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Physiotherapy and rehabilitation</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Surgery</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Endocrinology</a> <span class="badge">1015</span></li>
                <li><a href="/doctors">Endoscopy</a> <span class="badge">1015</span></li>
            </ul>
        </div>
        <!--/.col--> --}}
    </div>
    <!--/.row-->

    <hr />

    <h2>Search clinic by <strong>location</strong></h2>

    <br />
	
	<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Map</a>
                </li> 
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-home-tab">
                    
					<div class="row">
        <div class="col-xl-3 col-md-3 col-sm-6">
            <ul>
                <li><strong><a title="World" href="https://www.amcharts.com/svg-maps/?map=world">World</a></strong> <span class="badge">1015</span></li>
                <li><a title="Afghanistan" href="https://www.amcharts.com/svg-maps/?map=afghanistan">Afghanistan</a> <span class="badge">1015</span></li>
                <li><a title="Albania" href="https://www.amcharts.com/svg-maps/?map=albania">Albania</a> <span class="badge">1015</span></li>
                <li><a title="Algeria" href="https://www.amcharts.com/svg-maps/?map=algeria">Algeria</a> <span class="badge">1015</span></li>
                <li><a title="American Samoa" href="https://www.amcharts.com/svg-maps/?map=americanSamoa">American Samoa</a> <span class="badge">1015</span></li>
                <li><a title="Andorra" href="https://www.amcharts.com/svg-maps/?map=andorra">Andorra</a> <span class="badge">1015</span></li>
                <li><a title="Angola" href="https://www.amcharts.com/svg-maps/?map=angola">Angola</a> <span class="badge">1015</span></li>
                <li><a title="Anguilla" href="https://www.amcharts.com/svg-maps/?map=anguilla">Anguilla</a> <span class="badge">1015</span></li>
                <li><a title="Antigua and Barbuda" href="https://www.amcharts.com/svg-maps/?map=antiguaBarbuda">Antigua and Barbuda</a> <span class="badge">1015</span></li>
                <li><a title="Argentina" href="https://www.amcharts.com/svg-maps/?map=argentina">Argentina</a> <span class="badge">1015</span></li>
                <li><a title="Armenia" href="https://www.amcharts.com/svg-maps/?map=armenia">Armenia</a> <span class="badge">1015</span></li>
                <li><a title="Aruba" href="https://www.amcharts.com/svg-maps/?map=aruba">Aruba</a> <span class="badge">1015</span></li>
                <li><a title="Australia" href="https://www.amcharts.com/svg-maps/?map=australia">Australia</a> <span class="badge">1015</span></li>
                <li><a title="Austria" href="https://www.amcharts.com/svg-maps/?map=austria">Austria</a> <span class="badge">1015</span></li>
                <li><a title="Azerbaijan" href="https://www.amcharts.com/svg-maps/?map=azerbaijan">Azerbaijan</a> <span class="badge">1015</span></li>
                <li><a title="The Bahamas" href="https://www.amcharts.com/svg-maps/?map=bahamas">The Bahamas</a> <span class="badge">1015</span></li>
                <li><a title="Bahrain" href="https://www.amcharts.com/svg-maps/?map=bahrain">Bahrain</a> <span class="badge">1015</span></li>
                <li><a title="Bangladesh" href="https://www.amcharts.com/svg-maps/?map=bangladesh">Bangladesh</a> <span class="badge">1015</span></li>
                <li><a title="Barbados" href="https://www.amcharts.com/svg-maps/?map=barbados">Barbados</a> <span class="badge">1015</span></li>
                <li><a title="Belarus" href="https://www.amcharts.com/svg-maps/?map=belarus">Belarus</a> <span class="badge">1015</span></li>
                <li><a title="Belgium" href="https://www.amcharts.com/svg-maps/?map=belgium">Belgium</a> <span class="badge">1015</span></li>
                <li><a title="Belize" href="https://www.amcharts.com/svg-maps/?map=belize">Belize</a> <span class="badge">1015</span></li>
                <li><a title="Benin" href="https://www.amcharts.com/svg-maps/?map=benin">Benin</a> <span class="badge">1015</span></li>
                <li><a title="Bermuda" href="https://www.amcharts.com/svg-maps/?map=bermuda">Bermuda</a> <span class="badge">1015</span></li>
                <li><a title="Bhutan" href="https://www.amcharts.com/svg-maps/?map=bhutan">Bhutan</a> <span class="badge">1015</span></li>
                <li><a title="Bolivia" href="https://www.amcharts.com/svg-maps/?map=bolivia">Bolivia</a> <span class="badge">1015</span></li>
                <li><a title="Bosnia-Herzegovina Cantons" href="https://www.amcharts.com/svg-maps/?map=bosniaHerzegovinaCantons">Bosnia-Herzegovina Cantons</a> <span class="badge">1015</span></li>
                <li><a title="Bosnia-Herzegovina Regions" href="https://www.amcharts.com/svg-maps/?map=bosniaHerzegovinaRegions">Bosnia-Herzegovina Regions</a> <span class="badge">1015</span></li>
                <li><a title="Botswana" href="https://www.amcharts.com/svg-maps/?map=botswana">Botswana</a> <span class="badge">1015</span></li>
                <li><a title="Brazil" href="https://www.amcharts.com/svg-maps/?map=brazil">Brazil</a> <span class="badge">1015</span></li>
                <li><a title="British Virgin Islands" href="https://www.amcharts.com/svg-maps/?map=britishVirginIslands">British Virgin Islands</a> <span class="badge">1015</span></li>
                <li><a title="Brunei Darussalam" href="https://www.amcharts.com/svg-maps/?map=bruneiDarussalam">Brunei Darussalam</a> <span class="badge">1015</span></li>
                <li><a title="Bulgaria" href="https://www.amcharts.com/svg-maps/?map=bulgaria">Bulgaria</a> <span class="badge">1015</span></li>
                <li><a title="Burkina Faso" href="https://www.amcharts.com/svg-maps/?map=burkinaFaso">Burkina Faso</a> <span class="badge">1015</span></li>
                <li><a title="Burundi" href="https://www.amcharts.com/svg-maps/?map=burundi">Burundi</a> <span class="badge">1015</span></li>
                <li><a title="Cambodia" href="https://www.amcharts.com/svg-maps/?map=cambodia">Cambodia</a> <span class="badge">1015</span></li>
                <li><a title="Cameroon" href="https://www.amcharts.com/svg-maps/?map=cameroon">Cameroon</a> <span class="badge">1015</span></li>
                <li><a title="Canada" href="https://www.amcharts.com/svg-maps/?map=canada">Canada</a> <span class="badge">1015</span></li>
                <li><a title="Cape Verde" href="https://www.amcharts.com/svg-maps/?map=capeVerde">Cape Verde</a> <span class="badge">1015</span></li>
                <li><a title="Caribbean Netherlands" href="https://www.amcharts.com/svg-maps/?map=caribbeanNetherlands">Caribbean Netherlands</a> <span class="badge">1015</span></li>
                <li><a title="Cayman Islands" href="https://www.amcharts.com/svg-maps/?map=caymanIslands">Cayman Islands</a> <span class="badge">1015</span></li>
                <li><a title="Central African Republic" href="https://www.amcharts.com/svg-maps/?map=centralAfricanRepublic">Central African Republic</a> <span class="badge">1015</span></li>
                <li><a title="Chad" href="https://www.amcharts.com/svg-maps/?map=chad">Chad</a> <span class="badge">1015</span></li>
                <li><a title="Channel Islands" href="https://www.amcharts.com/svg-maps/?map=channelIslands">Channel Islands</a> <span class="badge">1015</span></li>
                <li><a title="Chile" href="https://www.amcharts.com/svg-maps/?map=chile">Chile</a> <span class="badge">1015</span></li>
                <li><a title="China" href="https://www.amcharts.com/svg-maps/?map=china">China</a> <span class="badge">1015</span></li>
                <li><a title="Christmas Island" href="https://www.amcharts.com/svg-maps/?map=christmasIsland">Christmas Island</a> <span class="badge">1015</span></li>
                <li><a title="Cocos Islands" href="https://www.amcharts.com/svg-maps/?map=cocosIslands">Cocos Islands</a> <span class="badge">1015</span></li>
                <li><a title="Colombia" href="https://www.amcharts.com/svg-maps/?map=colombia">Colombia</a> <span class="badge">1015</span></li>
                <li><a title="Comoros" href="https://www.amcharts.com/svg-maps/?map=comoros">Comoros</a> <span class="badge">1015</span></li>
                <li><a title="Congo DR" href="https://www.amcharts.com/svg-maps/?map=congoDR">Congo DR</a> <span class="badge">1015</span></li>
                <li><a title="Congo" href="https://www.amcharts.com/svg-maps/?map=congo">Congo</a> <span class="badge">1015</span></li>
                <li><a title="Continents - Russia split" href="https://www.amcharts.com/svg-maps/?map=continents">Continents - Russia split</a> <span class="badge">1015</span></li>
                <li><a title="Continents with Antarctica - Russia split" href="https://www.amcharts.com/svg-maps/?map=continentsWithAntarctica">Continents with Antarctica - Russia split</a> <span class="badge">1015</span></li>
                <li><a title="Cook Islands" href="https://www.amcharts.com/svg-maps/?map=cookIslands">Cook Islands</a> <span class="badge">1015</span></li>
                <li><a title="Costa Rica" href="https://www.amcharts.com/svg-maps/?map=costaRica">Costa Rica</a> <span class="badge">1015</span></li>
                <li><a title="Croatia" href="https://www.amcharts.com/svg-maps/?map=croatia">Croatia</a> <span class="badge">1015</span></li>
                <li><a title="Cuba" href="https://www.amcharts.com/svg-maps/?map=cuba">Cuba</a> <span class="badge">1015</span></li>
                <li><a title="Curacao" href="https://www.amcharts.com/svg-maps/?map=curacao">Curacao</a> <span class="badge">1015</span></li>
                <li><a title="Cyprus" href="https://www.amcharts.com/svg-maps/?map=cyprus">Cyprus</a> <span class="badge">1015</span></li>
                <li><a title="Cyprus - Northern Cyprus" href="https://www.amcharts.com/svg-maps/?map=cyprusNorthernCyprus">Cyprus - Northern Cyprus</a> <span class="badge">1015</span></li>
                <li><a title="Czech Republic" href="https://www.amcharts.com/svg-maps/?map=czechRepublic">Czech Republic</a> <span class="badge">1015</span></li>
                <li><a title="Denmark" href="https://www.amcharts.com/svg-maps/?map=denmark">Denmark</a> <span class="badge">1015</span></li>
                <li><a title="Djibouti" href="https://www.amcharts.com/svg-maps/?map=djibouti">Djibouti</a> <span class="badge">1015</span></li>
                <li><a title="Dominica" href="https://www.amcharts.com/svg-maps/?map=dominica">Dominica</a> <span class="badge">1015</span></li>
            </ul>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6">
            <ul>
                <li><a title="Dominican Republic" href="https://www.amcharts.com/svg-maps/?map=dominicanRepublic">Dominican Republic</a> <span class="badge">1015</span></li>
                <li><a title="East Timor" href="https://www.amcharts.com/svg-maps/?map=eastTimor">East Timor</a> <span class="badge">1015</span></li>
                <li><a title="Ecuador" href="https://www.amcharts.com/svg-maps/?map=ecuador">Ecuador</a> <span class="badge">1015</span></li>
                <li><a title="Egypt" href="https://www.amcharts.com/svg-maps/?map=egypt">Egypt</a> <span class="badge">1015</span></li>
                <li><a title="El Salvador" href="https://www.amcharts.com/svg-maps/?map=elSalvador">El Salvador</a> <span class="badge">1015</span></li>
                <li><a title="Equatorial Guinea" href="https://www.amcharts.com/svg-maps/?map=equatorialGuinea">Equatorial Guinea</a> <span class="badge">1015</span></li>
                <li><a title="Eritrea" href="https://www.amcharts.com/svg-maps/?map=eritrea">Eritrea</a> <span class="badge">1015</span></li>
                <li><a title="Estonia" href="https://www.amcharts.com/svg-maps/?map=estonia">Estonia</a> <span class="badge">1015</span></li>
                <li><a title="Ethiopia" href="https://www.amcharts.com/svg-maps/?map=ethiopia">Ethiopia</a> <span class="badge">1015</span></li>
                <li><a title="Falkland Islands" href="https://www.amcharts.com/svg-maps/?map=falklandIslands">Falkland Islands</a> <span class="badge">1015</span></li>
                <li><a title="Faroe Islands" href="https://www.amcharts.com/svg-maps/?map=faroeIslands">Faroe Islands</a> <span class="badge">1015</span></li>
                <li><a title="Fiji East" href="https://www.amcharts.com/svg-maps/?map=fijiEast">Fiji East</a> <span class="badge">1015</span></li>
                <li><a title="Fiji West" href="https://www.amcharts.com/svg-maps/?map=fijiWest">Fiji West</a> <span class="badge">1015</span></li>
                <li><a title="Finland" href="https://www.amcharts.com/svg-maps/?map=finland">Finland</a> <span class="badge">1015</span></li>
                <li><a title="France 2016" href="https://www.amcharts.com/svg-maps/?map=france2016">France 2016</a> <span class="badge">1015</span></li>
                <li><a title="France Departments" href="https://www.amcharts.com/svg-maps/?map=franceDepartments">France Departments</a> <span class="badge">1015</span></li>
                <li><a title="France" href="https://www.amcharts.com/svg-maps/?map=france">France</a> <span class="badge">1015</span></li>
                <li><a title="French Guiana" href="https://www.amcharts.com/svg-maps/?map=frenchGuiana">French Guiana</a> <span class="badge">1015</span></li>
                <li><a title="French Polynesia" href="https://www.amcharts.com/svg-maps/?map=frenchPolynesia">French Polynesia</a> <span class="badge">1015</span></li>
                <li><a title="Gabon" href="https://www.amcharts.com/svg-maps/?map=gabon">Gabon</a> <span class="badge">1015</span></li>
                <li><a title="Gambia" href="https://www.amcharts.com/svg-maps/?map=gambia">Gambia</a> <span class="badge">1015</span></li>
                <li><a title="Georgia" href="https://www.amcharts.com/svg-maps/?map=georgia">Georgia</a> <span class="badge">1015</span></li>
                <li><a title="Georgia with South Ossetia" href="https://www.amcharts.com/svg-maps/?map=georgiaSouthOssetia">Georgia with South Ossetia</a> <span class="badge">1015</span></li>
                <li><a title="Germany" href="https://www.amcharts.com/svg-maps/?map=germany">Germany</a> <span class="badge">1015</span></li>
                <li><a title="Ghana" href="https://www.amcharts.com/svg-maps/?map=ghana">Ghana</a> <span class="badge">1015</span></li>
                <li><a title="Gibraltar" href="https://www.amcharts.com/svg-maps/?map=gibraltar">Gibraltar</a> <span class="badge">1015</span></li>
                <li><a title="Greece" href="https://www.amcharts.com/svg-maps/?map=greece">Greece</a> <span class="badge">1015</span></li>
                <li><a title="Greenland" href="https://www.amcharts.com/svg-maps/?map=greenland">Greenland</a> <span class="badge">1015</span></li>
                <li><a title="Grenada" href="https://www.amcharts.com/svg-maps/?map=grenada">Grenada</a> <span class="badge">1015</span></li>
                <li><a title="Guadeloupe" href="https://www.amcharts.com/svg-maps/?map=guadeloupe">Guadeloupe</a> <span class="badge">1015</span></li>
                <li><a title="Guam" href="https://www.amcharts.com/svg-maps/?map=guam">Guam</a> <span class="badge">1015</span></li>
                <li><a title="Guatemala" href="https://www.amcharts.com/svg-maps/?map=guatemala">Guatemala</a> <span class="badge">1015</span></li>
                <li><a title="Guinea-Bissau" href="https://www.amcharts.com/svg-maps/?map=guineaBissau">Guinea-Bissau</a> <span class="badge">1015</span></li>
                <li><a title="Guinea" href="https://www.amcharts.com/svg-maps/?map=guinea">Guinea</a> <span class="badge">1015</span></li>
                <li><a title="Guyana" href="https://www.amcharts.com/svg-maps/?map=guyana">Guyana</a> <span class="badge">1015</span></li>
                <li><a title="Haiti" href="https://www.amcharts.com/svg-maps/?map=haiti">Haiti</a> <span class="badge">1015</span></li>
                <li><a title="Honduras" href="https://www.amcharts.com/svg-maps/?map=honduras">Honduras</a> <span class="badge">1015</span></li>
                <li><a title="Hong Kong" href="https://www.amcharts.com/svg-maps/?map=hongKong">Hong Kong</a> <span class="badge">1015</span></li>
                <li><a title="Hungary" href="https://www.amcharts.com/svg-maps/?map=hungary">Hungary</a> <span class="badge">1015</span></li>
                <li><a title="Iceland" href="https://www.amcharts.com/svg-maps/?map=iceland">Iceland</a> <span class="badge">1015</span></li>
                <li><a title="India" href="https://www.amcharts.com/svg-maps/?map=india">India</a> <span class="badge">1015</span></li>
                <li><a title="Indonesia" href="https://www.amcharts.com/svg-maps/?map=indonesia">Indonesia</a> <span class="badge">1015</span></li>
                <li><a title="Iran" href="https://www.amcharts.com/svg-maps/?map=iran">Iran</a> <span class="badge">1015</span></li>
                <li><a title="Iraq" href="https://www.amcharts.com/svg-maps/?map=iraq">Iraq</a> <span class="badge">1015</span></li>
                <li><a title="Ireland" href="https://www.amcharts.com/svg-maps/?map=ireland">Ireland</a> <span class="badge">1015</span></li>
                <li><a title="Isle of Man" href="https://www.amcharts.com/svg-maps/?map=isleOfMan">Isle of Man</a> <span class="badge">1015</span></li>
                <li><a title="Israel" href="https://www.amcharts.com/svg-maps/?map=israel">Israel</a> <span class="badge">1015</span></li>
                <li><a title="Israel-Palestine" href="https://www.amcharts.com/svg-maps/?map=israelPalestine">Israel-Palestine</a> <span class="badge">1015</span></li>
                <li><a title="Italy" href="https://www.amcharts.com/svg-maps/?map=italy">Italy</a> <span class="badge">1015</span></li>
                <li><a title="Ivory Coast" href="https://www.amcharts.com/svg-maps/?map=ivoryCoast">Ivory Coast</a> <span class="badge">1015</span></li>
                <li><a title="Jamaica" href="https://www.amcharts.com/svg-maps/?map=jamaica">Jamaica</a> <span class="badge">1015</span></li>
                <li><a title="Japan" href="https://www.amcharts.com/svg-maps/?map=japan">Japan</a> <span class="badge">1015</span></li>
                <li><a title="Jersey" href="https://www.amcharts.com/svg-maps/?map=jersey">Jersey</a> <span class="badge">1015</span></li>
                <li><a title="Jordan" href="https://www.amcharts.com/svg-maps/?map=jordan">Jordan</a> <span class="badge">1015</span></li>
                <li><a title="Kazakhstan" href="https://www.amcharts.com/svg-maps/?map=kazakhstan">Kazakhstan</a> <span class="badge">1015</span></li>
                <li><a title="Kenya" href="https://www.amcharts.com/svg-maps/?map=kenya">Kenya</a> <span class="badge">1015</span></li>
                <li><a title="Kiribati" href="https://www.amcharts.com/svg-maps/?map=kiribati">Kiribati</a> <span class="badge">1015</span></li>
                <li><a title="Kosovo" href="https://www.amcharts.com/svg-maps/?map=kosovo">Kosovo</a> <span class="badge">1015</span></li>
                <li><a title="Kuwait" href="https://www.amcharts.com/svg-maps/?map=kuwait">Kuwait</a> <span class="badge">1015</span></li>
                <li><a title="Kyrgyzstan" href="https://www.amcharts.com/svg-maps/?map=kyrgyzstan">Kyrgyzstan</a> <span class="badge">1015</span></li>
                <li><a title="Laos" href="https://www.amcharts.com/svg-maps/?map=laos">Laos</a> <span class="badge">1015</span></li>
                <li><a title="Latvia" href="https://www.amcharts.com/svg-maps/?map=latvia">Latvia</a> <span class="badge">1015</span></li>
                <li><a title="Lebanon" href="https://www.amcharts.com/svg-maps/?map=lebanon">Lebanon</a> <span class="badge">1015</span></li>
                <li><a title="Lesotho" href="https://www.amcharts.com/svg-maps/?map=lesotho">Lesotho</a> <span class="badge">1015</span></li>
                <li><a title="Liberia" href="https://www.amcharts.com/svg-maps/?map=liberia">Liberia</a> <span class="badge">1015</span></li>
            </ul>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6">
            <ul>
                <li><a title="Libya" href="https://www.amcharts.com/svg-maps/?map=libya">Libya</a> <span class="badge">1015</span></li>
                <li><a title="Liechtenstein" href="https://www.amcharts.com/svg-maps/?map=liechtenstein">Liechtenstein</a> <span class="badge">1015</span></li>
                <li><a title="Lithuania" href="https://www.amcharts.com/svg-maps/?map=lithuania">Lithuania</a> <span class="badge">1015</span></li>
                <li><a title="Luxembourg" href="https://www.amcharts.com/svg-maps/?map=luxembourg">Luxembourg</a> <span class="badge">1015</span></li>
                <li><a title="Macao" href="https://www.amcharts.com/svg-maps/?map=macao">Macao</a> <span class="badge">1015</span></li>
                <li><a title="Macedonia" href="https://www.amcharts.com/svg-maps/?map=macedonia">Macedonia</a> <span class="badge">1015</span></li>
                <li><a title="Magdagascar" href="https://www.amcharts.com/svg-maps/?map=madagascar">Magdagascar</a> <span class="badge">1015</span></li>
                <li><a title="Malawi" href="https://www.amcharts.com/svg-maps/?map=malawi">Malawi</a> <span class="badge">1015</span></li>
                <li><a title="Malaysia" href="https://www.amcharts.com/svg-maps/?map=malaysia">Malaysia</a> <span class="badge">1015</span></li>
                <li><a title="Maldives" href="https://www.amcharts.com/svg-maps/?map=maldives">Maldives</a> <span class="badge">1015</span></li>
                <li><a title="Mali" href="https://www.amcharts.com/svg-maps/?map=mali">Mali</a> <span class="badge">1015</span></li>
                <li><a title="Malta" href="https://www.amcharts.com/svg-maps/?map=malta">Malta</a> <span class="badge">1015</span></li>
                <li><a title="Marshall Islands" href="https://www.amcharts.com/svg-maps/?map=marshallIslands">Marshall Islands</a> <span class="badge">1015</span></li>
                <li><a title="Martinique" href="https://www.amcharts.com/svg-maps/?map=martinique">Martinique</a> <span class="badge">1015</span></li>
                <li><a title="Mauritania" href="https://www.amcharts.com/svg-maps/?map=mauritania">Mauritania</a> <span class="badge">1015</span></li>
                <li><a title="Mauritius" href="https://www.amcharts.com/svg-maps/?map=mauritius">Mauritius</a> <span class="badge">1015</span></li>
                <li><a title="Mayotte" href="https://www.amcharts.com/svg-maps/?map=mayotte">Mayotte</a> <span class="badge">1015</span></li>
                <li><a title="Mexico" href="https://www.amcharts.com/svg-maps/?map=mexico">Mexico</a> <span class="badge">1015</span></li>
                <li><a title="Micronesia" href="https://www.amcharts.com/svg-maps/?map=micronesia">Micronesia</a> <span class="badge">1015</span></li>
                <li><a title="Moldova" href="https://www.amcharts.com/svg-maps/?map=moldova">Moldova</a> <span class="badge">1015</span></li>
                <li><a title="Monaco" href="https://www.amcharts.com/svg-maps/?map=monaco">Monaco</a> <span class="badge">1015</span></li>
                <li><a title="Mongolia" href="https://www.amcharts.com/svg-maps/?map=mongolia">Mongolia</a> <span class="badge">1015</span></li>
                <li><a title="Montenegro" href="https://www.amcharts.com/svg-maps/?map=montenegro">Montenegro</a> <span class="badge">1015</span></li>
                <li><a title="Montserrat" href="https://www.amcharts.com/svg-maps/?map=montserrat">Montserrat</a> <span class="badge">1015</span></li>
                <li><a title="Moroco" href="https://www.amcharts.com/svg-maps/?map=morocco">Moroco</a> <span class="badge">1015</span></li>
                <li><a title="Morocco-Western Sahara" href="https://www.amcharts.com/svg-maps/?map=moroccoWesternSahara">Morocco-Western Sahara</a> <span class="badge">1015</span></li>
                <li><a title="Mozambique" href="https://www.amcharts.com/svg-maps/?map=mozambique">Mozambique</a> <span class="badge">1015</span></li>
                <li><a title="Myanmar" href="https://www.amcharts.com/svg-maps/?map=myanmar">Myanmar</a> <span class="badge">1015</span></li>
                <li><a title="Namibia" href="https://www.amcharts.com/svg-maps/?map=namibia">Namibia</a> <span class="badge">1015</span></li>
                <li><a title="Nauru" href="https://www.amcharts.com/svg-maps/?map=nauru">Nauru</a> <span class="badge">1015</span></li>
                <li><a title="Nepal" href="https://www.amcharts.com/svg-maps/?map=nepal">Nepal</a> <span class="badge">1015</span></li>
                <li><a title="Netherlands" href="https://www.amcharts.com/svg-maps/?map=netherlands">Netherlands</a> <span class="badge">1015</span></li>
                <li><a title="New Caledonia" href="https://www.amcharts.com/svg-maps/?map=newCaledonia">New Caledonia</a> <span class="badge">1015</span></li>
                <li><a title="New Zealand" href="https://www.amcharts.com/svg-maps/?map=newZealand">New Zealand</a> <span class="badge">1015</span></li>
                <li><a title="Nicaragua" href="https://www.amcharts.com/svg-maps/?map=nicaragua">Nicaragua</a> <span class="badge">1015</span></li>
                <li><a title="Niger" href="https://www.amcharts.com/svg-maps/?map=niger">Niger</a> <span class="badge">1015</span></li>
                <li><a title="Nigeria" href="https://www.amcharts.com/svg-maps/?map=nigeria">Nigeria</a> <span class="badge">1015</span></li>
                <li><a title="Niue" href="https://www.amcharts.com/svg-maps/?map=niue">Niue</a> <span class="badge">1015</span></li>
                <li><a title="North Korea" href="https://www.amcharts.com/svg-maps/?map=northKorea">North Korea</a> <span class="badge">1015</span></li>
                <li><a title="Northern Mariana Islands" href="https://www.amcharts.com/svg-maps/?map=northernMarianaIslands">Northern Mariana Islands</a> <span class="badge">1015</span></li>
                <li><a title="Norway" href="https://www.amcharts.com/svg-maps/?map=norway">Norway</a> <span class="badge">1015</span></li>
                <li><a title="Oman" href="https://www.amcharts.com/svg-maps/?map=oman">Oman</a> <span class="badge">1015</span></li>
                <li><a title="Pakistan" href="https://www.amcharts.com/svg-maps/?map=pakistan">Pakistan</a> <span class="badge">1015</span></li>
                <li><a title="Palau" href="https://www.amcharts.com/svg-maps/?map=palau">Palau</a> <span class="badge">1015</span></li>
                <li><a title="Palestine" href="https://www.amcharts.com/svg-maps/?map=palestine">Palestine</a> <span class="badge">1015</span></li>
                <li><a title="Panama" href="https://www.amcharts.com/svg-maps/?map=panama">Panama</a> <span class="badge">1015</span></li>
                <li><a title="Papua New Guinea" href="https://www.amcharts.com/svg-maps/?map=papuaNewGuinea">Papua New Guinea</a> <span class="badge">1015</span></li>
                <li><a title="Paraguay" href="https://www.amcharts.com/svg-maps/?map=paraguay">Paraguay</a> <span class="badge">1015</span></li>
                <li><a title="Peru" href="https://www.amcharts.com/svg-maps/?map=peru">Peru</a> <span class="badge">1015</span></li>
                <li><a title="Philippines" href="https://www.amcharts.com/svg-maps/?map=philippines">Philippines</a> <span class="badge">1015</span></li>
                <li><a title="Pitcairn Islands" href="https://www.amcharts.com/svg-maps/?map=pitcairnIslands">Pitcairn Islands</a> <span class="badge">1015</span></li>
                <li><a title="Poland" href="https://www.amcharts.com/svg-maps/?map=poland">Poland</a> <span class="badge">1015</span></li>
                <li><a title="Portugal" href="https://www.amcharts.com/svg-maps/?map=portugal">Portugal</a> <span class="badge">1015</span></li>
                <li><a title="Portugal Regions" href="https://www.amcharts.com/svg-maps/?map=portugalRegions">Portugal Regions</a> <span class="badge">1015</span></li>
                <li><a title="Puerto Rico" href="https://www.amcharts.com/svg-maps/?map=puertoRico">Puerto Rico</a> <span class="badge">1015</span></li>
                <li><a title="Qatar" href="https://www.amcharts.com/svg-maps/?map=qatar">Qatar</a> <span class="badge">1015</span></li>
                <li><a title="Reunion" href="https://www.amcharts.com/svg-maps/?map=reunion">Reunion</a> <span class="badge">1015</span></li>
                <li><a title="Romania" href="https://www.amcharts.com/svg-maps/?map=romania">Romania</a> <span class="badge">1015</span></li>
                <li><a title="Russia" href="https://www.amcharts.com/svg-maps/?map=russia">Russia</a> <span class="badge">1015</span></li>
                <li><a title="Rwanda" href="https://www.amcharts.com/svg-maps/?map=rwanda">Rwanda</a> <span class="badge">1015</span></li>
                <li><a title="Saint Martin" href="https://www.amcharts.com/svg-maps/?map=saintMartin">Saint Martin</a> <span class="badge">1015</span></li>
                <li><a title="Saint Pierre and Miquelon" href="https://www.amcharts.com/svg-maps/?map=saintPierreMiquelon">Saint Pierre and Miquelon</a> <span class="badge">1015</span></li>
                <li><a title="Samoa" href="https://www.amcharts.com/svg-maps/?map=samoa">Samoa</a> <span class="badge">1015</span></li>
                <li><a title="San Marino" href="https://www.amcharts.com/svg-maps/?map=sanMarino">San Marino</a> <span class="badge">1015</span></li>
                <li><a title="Saudi Arabia" href="https://www.amcharts.com/svg-maps/?map=saudiArabia">Saudi Arabia</a> <span class="badge">1015</span></li>
            </ul>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6">
            <ul>
                <li><a title="Senegal" href="https://www.amcharts.com/svg-maps/?map=senegal">Senegal</a> <span class="badge">1015</span></li>
                <li><a title="Serbia" href="https://www.amcharts.com/svg-maps/?map=serbia">Serbia</a> <span class="badge">1015</span></li>
                <li><a title="Serbia No Kosovo" href="https://www.amcharts.com/svg-maps/?map=serbiaNoKosovo">Serbia No Kosovo</a> <span class="badge">1015</span></li>
                <li><a title="Seychelles" href="https://www.amcharts.com/svg-maps/?map=seychelles">Seychelles</a> <span class="badge">1015</span></li>
                <li><a title="Sierra Leone" href="https://www.amcharts.com/svg-maps/?map=sierraLeone">Sierra Leone</a> <span class="badge">1015</span></li>
                <li><a title="Singapore" href="https://www.amcharts.com/svg-maps/?map=singapore">Singapore</a> <span class="badge">1015</span></li>
                <li><a title="Sint Maarten" href="https://www.amcharts.com/svg-maps/?map=sintMaarten">Sint Maarten</a> <span class="badge">1015</span></li>
                <li><a title="Slovakia" href="https://www.amcharts.com/svg-maps/?map=slovakia">Slovakia</a> <span class="badge">1015</span></li>
                <li><a title="Slovenia" href="https://www.amcharts.com/svg-maps/?map=slovenia">Slovenia</a> <span class="badge">1015</span></li>
                <li><a title="Solomon Islands" href="https://www.amcharts.com/svg-maps/?map=solomonIslands">Solomon Islands</a> <span class="badge">1015</span></li>
                <li><a title="Somalia" href="https://www.amcharts.com/svg-maps/?map=somalia">Somalia</a> <span class="badge">1015</span></li>
                <li><a title="South Africa" href="https://www.amcharts.com/svg-maps/?map=southAfrica">South Africa</a> <span class="badge">1015</span></li>
                <li><a title="South Korea" href="https://www.amcharts.com/svg-maps/?map=southKorea">South Korea</a> <span class="badge">1015</span></li>
                <li><a title="South Sudan" href="https://www.amcharts.com/svg-maps/?map=southSudan">South Sudan</a> <span class="badge">1015</span></li>
                <li><a title="Spain - Custom" href="https://www.amcharts.com/svg-maps/?map=spain2">Spain - Custom</a> <span class="badge">1015</span></li>
                <li><a title="Spain" href="https://www.amcharts.com/svg-maps/?map=spain">Spain</a> <span class="badge">1015</span></li>
                <li><a title="Spain Provinces" href="https://www.amcharts.com/svg-maps/?map=spainProvinces">Spain Provinces</a> <span class="badge">1015</span></li>
                <li><a title="Sri Lanka" href="https://www.amcharts.com/svg-maps/?map=sriLanka">Sri Lanka</a> <span class="badge">1015</span></li>
                <li><a title="St Helena" href="https://www.amcharts.com/svg-maps/?map=stHelena">St Helena</a> <span class="badge">1015</span></li>
                <li><a title="St. Kitts and Nevis" href="https://www.amcharts.com/svg-maps/?map=stKittsNevis">St. Kitts and Nevis</a> <span class="badge">1015</span></li>
                <li><a title="St. Lucia" href="https://www.amcharts.com/svg-maps/?map=stLucia">St. Lucia</a> <span class="badge">1015</span></li>
                <li><a title="Saint Vincent and the Grenadines" href="https://www.amcharts.com/svg-maps/?map=stVincent">Saint Vincent and the Grenadines</a> <span class="badge">1015</span></li>
                <li><a title="Sudan" href="https://www.amcharts.com/svg-maps/?map=sudan">Sudan</a> <span class="badge">1015</span></li>
                <li><a title="Suriname" href="https://www.amcharts.com/svg-maps/?map=suriname">Suriname</a> <span class="badge">1015</span></li>
                <li><a title="Svalbard and Jan Mayen" href="https://www.amcharts.com/svg-maps/?map=svalbardJanMayen">Svalbard and Jan Mayen</a> <span class="badge">1015</span></li>
                <li><a title="Swaziland" href="https://www.amcharts.com/svg-maps/?map=swaziland">Swaziland</a> <span class="badge">1015</span></li>
                <li><a title="Sweden" href="https://www.amcharts.com/svg-maps/?map=sweden">Sweden</a> <span class="badge">1015</span></li>
                <li><a title="Switzerland" href="https://www.amcharts.com/svg-maps/?map=switzerland">Switzerland</a> <span class="badge">1015</span></li>
                <li><a title="Syria" href="https://www.amcharts.com/svg-maps/?map=syria">Syria</a> <span class="badge">1015</span></li>
                <li><a title="Taiwan" href="https://www.amcharts.com/svg-maps/?map=taiwan">Taiwan</a> <span class="badge">1015</span></li>
                <li><a title="Tajikistan" href="https://www.amcharts.com/svg-maps/?map=tajikistan">Tajikistan</a> <span class="badge">1015</span></li>
                <li><a title="Tanzania" href="https://www.amcharts.com/svg-maps/?map=tanzania">Tanzania</a> <span class="badge">1015</span></li>
                <li><a title="Thailand" href="https://www.amcharts.com/svg-maps/?map=thailand">Thailand</a> <span class="badge">1015</span></li>
                <li><a title="Tibet" href="https://www.amcharts.com/svg-maps/?map=tibet">Tibet</a> <span class="badge">1015</span></li>
                <li><a title="Togo" href="https://www.amcharts.com/svg-maps/?map=togo">Togo</a> <span class="badge">1015</span></li>
                <li><a title="Tokelau" href="https://www.amcharts.com/svg-maps/?map=tokelau">Tokelau</a> <span class="badge">1015</span></li>
                <li><a title="Tonga" href="https://www.amcharts.com/svg-maps/?map=tonga">Tonga</a> <span class="badge">1015</span></li>
                <li><a title="Trinidad and Tobago" href="https://www.amcharts.com/svg-maps/?map=trinidadAndTobago">Trinidad and Tobago</a> <span class="badge">1015</span></li>
                <li><a title="Tunisia" href="https://www.amcharts.com/svg-maps/?map=tunisia">Tunisia</a> <span class="badge">1015</span></li>
                <li><a title="Turkey" href="https://www.amcharts.com/svg-maps/?map=turkey">Turkey</a> <span class="badge">1015</span></li>
                <li><a title="Turkmenistan" href="https://www.amcharts.com/svg-maps/?map=turkmenistan">Turkmenistan</a> <span class="badge">1015</span></li>
                <li><a title="Turks and Caicos Islands" href="https://www.amcharts.com/svg-maps/?map=turksCaicosIslands">Turks and Caicos Islands</a> <span class="badge">1015</span></li>
                <li><a title="Tuvalu" href="https://www.amcharts.com/svg-maps/?map=tuvalu">Tuvalu</a> <span class="badge">1015</span></li>
                <li><a title="Uganda" href="https://www.amcharts.com/svg-maps/?map=uganda">Uganda</a> <span class="badge">1015</span></li>
                <li><a title="UK Counties" href="https://www.amcharts.com/svg-maps/?map=ukCounties">UK Counties</a> <span class="badge">1015</span></li>
                <li><a title="Ukraine" href="https://www.amcharts.com/svg-maps/?map=ukraine">Ukraine</a> <span class="badge">1015</span></li>
                <li><a title="United Arab Emirates" href="https://www.amcharts.com/svg-maps/?map=unitedArabEmirates">United Arab Emirates</a> <span class="badge">1015</span></li>
                <li><a title="United Kingdom" href="https://www.amcharts.com/svg-maps/?map=unitedKingdom">United Kingdom</a> <span class="badge">1015</span></li>
                <li><a title="Uruguay" href="https://www.amcharts.com/svg-maps/?map=uruguay">Uruguay</a> <span class="badge">1015</span></li>
                <li><a title="U.S. Virgin Islands" href="https://www.amcharts.com/svg-maps/?map=usVirginIslands">U.S. Virgin Islands</a> <span class="badge">1015</span></li>
                <li><a title="USA: Mainland Mercator-calibrated" href="https://www.amcharts.com/svg-maps/?map=usa2">USA: Mainland Mercator-calibrated</a> <span class="badge">1015</span></li>
                <li><a title="USA" href="https://www.amcharts.com/svg-maps/?map=usa">USA</a> <span class="badge">1015</span></li>
                <li><a title="USA: Mercator-calibrated" href="https://www.amcharts.com/svg-maps/?map=usaMercator">USA: Mercator-calibrated</a> <span class="badge">1015</span></li>
                <li><a title="USA Territories &amp; Associated States" href="https://www.amcharts.com/svg-maps/?map=usaTerritories2">USA Territories & Associated States</a> <span class="badge">1015</span></li>
                <li><a title="USA Territories" href="https://www.amcharts.com/svg-maps/?map=usaTerritories">USA Territories</a> <span class="badge">1015</span></li>
                <li><a title="Uzebekistan" href="https://www.amcharts.com/svg-maps/?map=uzbekistan">Uzebekistan</a> <span class="badge">1015</span></li>
                <li><a title="Vanuatu" href="https://www.amcharts.com/svg-maps/?map=vanuatu">Vanuatu</a> <span class="badge">1015</span></li>
                <li><a title="Vatican City" href="https://www.amcharts.com/svg-maps/?map=vaticanCity">Vatican City</a> <span class="badge">1015</span></li>
                <li><a title="Venezuela" href="https://www.amcharts.com/svg-maps/?map=venezuela">Venezuela</a> <span class="badge">1015</span></li>
                <li><a title="Vietnam" href="https://www.amcharts.com/svg-maps/?map=vietnam">Vietnam</a> <span class="badge">1015</span></li>
                <li><a title="Wallis and Futuna" href="https://www.amcharts.com/svg-maps/?map=wallisFutuna">Wallis and Futuna</a> <span class="badge">1015</span></li>
                <li><a title="Yemen" href="https://www.amcharts.com/svg-maps/?map=yemen">Yemen</a> <span class="badge">1015</span></li>
                <li><a title="Zambia" href="https://www.amcharts.com/svg-maps/?map=zambia">Zambia</a> <span class="badge">1015</span></li>
                <li><a title="Zimbabwe" href="https://www.amcharts.com/svg-maps/?map=zimbabwe">Zimbabwe</a> <span class="badge">1015</span></li> 
            </ul>
        </div>
    </div>
    <!--/.row-->
			
                </div>
                <!--/.tab-pane-->
                <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-profile-tab">
				
					Map
					
				</div>
                <!--/.tab-pane--> 
            </div>
            <!--/.tab-content-->
 