<div class="modal fade" id="addressMap" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="header-content">
                    <h5 class="modal-title address-title" id="addressHeader"></h5>
                    <div class="address-subtitle" id="addressSubheader"></div>
                </div>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addressFrame" style="height: 300px"></div>                
            </div>
            <!--/.modal-body-->
        </div>
    </div>
</div>