<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalErrorTitle"></h5>
            </div>
            <div class="modal-body" id="modalErrorContent">

            </div>
        </div>
    </div>
</div>