    <form class="modal fade" id="freeLicense" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Get free license</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true"><i class="fas fa-times"></i></span>
        			</button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="clinicName">Clinic's name</label>
                                <input type="text" name="amount" class="form-control" id="clinicName" placeholder="Clinic's name" />
                            </div>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="contactPerson">Contact person</label>
                                <input type="text" name="amount" class="form-control" id="contactPerson" placeholder="Contact person" />
                            </div>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="eMail">E-mail</label>
                                <input type="text" name="amount" class="form-control" id="eMail" placeholder="E-mail" />
                            </div>
                            <div class="alert alert-warning" role="alert"><strong>Attention!</strong> Specify a <strong>real e-mail</strong>, because this address will receive a link to download the program and activation keys.</div>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
 
                </div>
                <!--/.modal-body-->
                <div class="modal-footer">
                    <a class="btn btn-primary" href="">Get free MedPoins Software</a>
                </div>
            </div>
        </div>
    </form>