


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="/account">Account</a></li>
            <li class="breadcrumb-item active" aria-current="page"><?=$page_title?></li>
        </ol>
    </nav>

    <ul>
        <li id="191" class="alert alert-warning parent" role="alert">
            <strong>Note!</strong> <a href="#">General Hospital</a> <small>Public</small> request your medical records at 11:24 - 12.02.2018. <a href="/account-request">Choose records to open</a>
            <a name="delete" id="191" class="delete-parent" href="#"><i class="fas fa-times"></i></a>
        </li>

        <li id="192" class="alert alert-warning parent" role="alert">
            <strong>Note!</strong> At 2011-08-20 <strong>16:45:00</strong> from your account will be charged <strong class="text-danger">35 MPT</strong> as Monthly insurance fee
            <a name="delete" id="192" class="delete-parent" href="#"><i class="fas fa-times"></i></a>
        </li>
    </ul>
	 
	<div class="row">
        <div class="col-xl-3 push-xl-9 col-lg-4 push-lg-8 col-md-5 push-md-7 col-sm-12 push-sm-0"> 
            <nav class="sticky-top"> 
                <?php include($_SERVER["DOCUMENT_ROOT"]."/inc/right.php"); ?> 
            </nav> 
        </div>
        <!--/.col--> 
        <div class="col-xl-9 pull-xl-3 col-lg-8 pull-lg-4 col-md-7 pull-md-5 col-sm-12 pull-sm-0"> 
		 
    		<form>

        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">



                <h3>14.05.2018 - <a href="#">General Hospital</a></h3>
                <p><i class="fas fa-map-marker"></i> <a href="#">462 First Avenue, New York, NY, United States</a></p>

                <label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="checkAll-1">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Select all</span>
                </label>

                <div class="gallery">
                    <ul class="owl-carousel owl-theme">
                        <li class="item">
                            <label class="custom-control custom-checkbox">
                            	<input type="checkbox" class="custom-control-input checkAll-1">
                            	<span class="custom-control-indicator"></span>
                            	<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record1.jpg" title="Document title 1"><img src="img/_demo/record1.jpg" alt="Gallery image 1" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
                            	<input type="checkbox" class="custom-control-input checkAll-1">
                            	<span class="custom-control-indicator"></span>
                            	<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record2.jpg" title="Document title 2"><img src="img/_demo/record2.jpg" alt="Gallery image 2" /></a>
						</li>
                        <li class="item doc">
                            <label class="custom-control custom-checkbox">
                            	<input type="checkbox" class="custom-control-input checkAll-1">
                            	<span class="custom-control-indicator"></span>
                            	<span class="custom-control-description">Select</span>
                			</label>
                            <div><a href="img/_demo/test.doc" title=""><i class="far fa-file fa-2x"></i><br />Examine results.doc</a></div>
                        </li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
                            	<input type="checkbox" class="custom-control-input checkAll-1">
                            	<span class="custom-control-indicator"></span>
                            	<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record3.jpg" title="Document title 1"><img src="img/_demo/record3.jpg" alt="Gallery image 1" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
                            	<input type="checkbox" class="custom-control-input checkAll-1">
                            	<span class="custom-control-indicator"></span>
                            	<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record4.jpg" title="Document title 2"><img src="img/_demo/record4.jpg" alt="Gallery image 2" /></a>
						</li>
                        <li class="itemgallery">
                            <label class="custom-control custom-checkbox">
                            	<input type="checkbox" class="custom-control-input checkAll-1">
                            	<span class="custom-control-indicator"></span>
                            	<span class="custom-control-description">Select</span>
                			</label>
                            <div><a href="img/_demo/test.pdf" title=""><i class="far fa-file-pdf fa-2x"></i><br />Radiology results.pdf</a></div>
                        </li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
                            	<input type="checkbox" class="custom-control-input checkAll-1">
                            	<span class="custom-control-indicator"></span>
                            	<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record5.jpg" title="Document title 3"><img src="img/_demo/record5.jpg" alt="Gallery image 3" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
                            	<input type="checkbox" class="custom-control-input checkAll-1">
                            	<span class="custom-control-indicator"></span>
                            	<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record6.jpg" title="Document title 1"><img src="img/_demo/record6.jpg" alt="Gallery image 1" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
                            	<input type="checkbox" class="custom-control-input checkAll-1">
                            	<span class="custom-control-indicator"></span>
                            	<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record7.jpg" title="Document title 2"><img src="img/_demo/record7.jpg" alt="Gallery image 2" /></a>
						</li> 
                    </ul>
                </div>
                <!--/.gallery-->

                <!-- Check/UnCheck all -->
                <script>
                    //select all checkboxes
                    $("#checkAll-1").change(function(){  //"select all" change
                        $(".checkAll-1").prop('checked', $(this).prop("checked")); //change all ".checkAll-1" checked status
                    });
                    
                    //".checkAll-1" change
                    $('.checkAll-1').change(function(){
                        //uncheck "select all", if one of the listed checkbox item is unchecked
                        if(false == $(this).prop("checked")){ //if this item is unchecked
                            $("#checkAll-1").prop('checked', false); //change "select all" checked status to false
                        }
                        //check "select all" if all checkbox items are checked
                        if ($('.checkAll-1:checked').length == $('.checkAll-1').length ){
                            $("#checkAll-1").prop('checked', true);
                        }
                    });
                </script>

                <hr />

                <h3>14.05.2018 - <a href="#">General Hospital</a></h3>
                <p><i class="fas fa-map-marker"></i> <a href="#">462 First Avenue, New York, NY, United States</a></p>

                <label class="custom-control custom-checkbox">
                	<input type="checkbox" class="custom-control-input" id="checkAll-2">
                	<span class="custom-control-indicator"></span>
                	<span class="custom-control-description">Select all</span>
                </label>

                <div class="gallery">
                    <ul class="owl-carousel owl-theme">
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-2">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record1.jpg" title="Document title 1"><img src="img/_demo/record1.jpg" alt="Gallery image 1" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-2">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record2.jpg" title="Document title 2"><img src="img/_demo/record2.jpg" alt="Gallery image 2" /></a>
						</li>
                        <li class="item doc">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-2">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <div><a href="img/_demo/test.doc" title=""><i class="far fa-file fa-2x"></i><br />Examine results.doc</a></div>
                        </li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-2">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record3.jpg" title="Document title 1"><img src="img/_demo/record3.jpg" alt="Gallery image 1" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-2">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record4.jpg" title="Document title 2"><img src="img/_demo/record4.jpg" alt="Gallery image 2" /></a>
						</li>
                        <li class="itemgallery">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-2">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <div><a href="img/_demo/test.pdf" title=""><i class="far fa-file-pdf fa-2x"></i><br />Radiology results.pdf</a></div>
                        </li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-2">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record5.jpg" title="Document title 3"><img src="img/_demo/record5.jpg" alt="Gallery image 3" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-2">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record6.jpg" title="Document title 1"><img src="img/_demo/record6.jpg" alt="Gallery image 1" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-2">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record7.jpg" title="Document title 2"><img src="img/_demo/record7.jpg" alt="Gallery image 2" /></a>
						</li> 
                    </ul>
                </div>
                <!--/.gallery-->

                <!-- Check/UnCheck all -->
                <script>
                    //select all checkboxes
                    $("#checkAll-2").change(function(){  //"select all" change
                        $(".checkAll-2").prop('checked', $(this).prop("checked")); //change all ".checkAll-2" checked status
                    });
                    
                    //".checkAll-2" change
                    $('.checkAll-2').change(function(){
                        //uncheck "select all", if one of the listed checkbox item is unchecked
                        if(false == $(this).prop("checked")){ //if this item is unchecked
                            $("#checkAll-2").prop('checked', false); //change "select all" checked status to false
                        }
                        //check "select all" if all checkbox items are checked
                        if ($('.checkAll-2:checked').length == $('.checkAll-2').length ){
                            $("#checkAll-2").prop('checked', true);
                        }
                    });
                </script>

                <hr />

                <h3>14.05.2018 - <a href="#">General Hospital</a></h3>
                <p><i class="fas fa-map-marker"></i> <a href="#">462 First Avenue, New York, NY, United States</a></p>

                <label class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="checkAll-3">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Select all</span>
                </label>

                <div class="gallery">
                    <ul class="owl-carousel owl-theme">
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-3">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record1.jpg" title="Document title 1"><img src="img/_demo/record1.jpg" alt="Gallery image 1" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-3">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <a class="gallery-img" href="img/_demo/record2.jpg" title="Document title 2"><img src="img/_demo/record2.jpg" alt="Gallery image 2" /></a>
						</li>
                        <li class="item doc">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-3">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
                			</label>
                            <div><a href="img/_demo/test.doc" title=""><i class="far fa-file fa-2x"></i><br />Examine results.doc</a></div>
                        </li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-3">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
							</label>
                            <a class="gallery-img" href="img/_demo/record3.jpg" title="Document title 1"><img src="img/_demo/record3.jpg" alt="Gallery image 1" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-3">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
							</label>
                            <a class="gallery-img" href="img/_demo/record4.jpg" title="Document title 2"><img src="img/_demo/record4.jpg" alt="Gallery image 2" /></a>
						</li>
                        <li class="itemgallery">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-3">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
							</label>
                            <div><a href="img/_demo/test.pdf" title=""><i class="far fa-file-pdf fa-2x"></i><br />Radiology results.pdf</a></div>
                        </li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-3">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
							</label>
                            <a class="gallery-img" href="img/_demo/record5.jpg" title="Document title 3"><img src="img/_demo/record5.jpg" alt="Gallery image 3" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-3">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
							</label>
                            <a class="gallery-img" href="img/_demo/record6.jpg" title="Document title 1"><img src="img/_demo/record6.jpg" alt="Gallery image 1" /></a>
						</li>
                        <li class="item">
                            <label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input checkAll-3">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">Select</span>
							</label>
                            <a class="gallery-img" href="img/_demo/record7.jpg" title="Document title 2"><img src="img/_demo/record7.jpg" alt="Gallery image 2" /></a>
						</li> 
                    </ul>
                </div>
                <!--/.gallery-->

                <!-- Check/UnCheck all -->
                <script>
                    //select all checkboxes
                    $("#checkAll-3").change(function(){  //"select all" change
                        $(".checkAll-3").prop('checked', $(this).prop("checked")); //change all ".checkAll-3" checked status
                    });
                    
                    //".checkAll-3" change
                    $('.checkAll-3').change(function(){
                        //uncheck "select all", if one of the listed checkbox item is unchecked
                        if(false == $(this).prop("checked")){ //if this item is unchecked
                            $("#checkAll-3").prop('checked', false); //change "select all" checked status to false
                        }
                        //check "select all" if all checkbox items are checked
                        if ($('.checkAll-3:checked').length == $('.checkAll-3').length ){
                            $("#checkAll-3").prop('checked', true);
                        }
                    });
                </script>
				
				<hr />
 
			<div class="row pagination-line">
            	<div class="col">
					<nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <span class="page-link">2<span class="sr-only">(current)</span></span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            		</nav>
            	</div>
            	<!--/.col-->
            	<div class="col"> 
					<em>1-5 / 3154</em>
            	</div>
            	<!--/.col-->
          	</div>
          	<!--/.row-->
 
            </div>
            <!--/.col-->
			
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">

                <nav class="sticky-top">

                    <div class="wave">

                        <h3>Selected</h3>

                        <ul>
                            <li class="parent"><a href="#">Document 1 title</a> <a class="float-right delete-parent" href="#"><i class="fas fa-times"></i></a></li>
                            <li class="parent"><a href="#">Document 2 title</a> <a class="float-right delete-parent" href="#"><i class="fas fa-times"></i></a></li>
                            <li class="parent"><a href="#">Document 3 title</a> <a class="float-right delete-parent" href="#"><i class="fas fa-times"></i></a></li>
                            <li class="parent"><a href="#">Document 4 title</a> <a class="float-right delete-parent" href="#"><i class="fas fa-times"></i></a></li>
                            <li class="parent"><a href="#">Document 5 title</a> <a class="float-right delete-parent" href="#"><i class="fas fa-times"></i></a></li>
                        </ul>

                        <div class="form-group">
							<label for="openUntil">Open until</label>
                        	<input class="form-control" type="date" value="2011-08-19" id="openUntil">
						</div> 

                        <div class="form-group">
                        	<a class="btn btn-primary justify" href="#">Open access</a>
						</div> 
						to <a href="/clinic">General Hospital</a>

                    </div>
                    <!--/.wave-->

                </nav>
 
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->

    </form> 
			
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
 