

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{PAGE_TITLE}}</li>
        </ol>
    </nav>
	
	<div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"></div>
        {{!-- <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12"> --}}

            <div class="row">
				
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">  
                    {{{localize req 'foundation.foundationText1'}}}
                </div>
                <!--/.col-->
			
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> 
                    <img class="img-responsive" src="img/foundation-eng.svg" alt="" />  
                </div>
                <!--/.col--> 
				
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">  
                    {{{localize req 'foundation.foundationText2'}}}
                </div>
                <!--/.col-->
				
            </div>
            <!--/.row-->

        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
 