<div class="about">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>

    <h2>What is <strong>MedPoints&#8482;</strong> system?</h2>

    <div class="card">

        <div class="row">
            <div class="col">
                <p><strong>MedPoints&#8482;</strong> is a decentralized ecosystem that allows its members to receive highly qualified <strong>medical services</strong> all around the world.</p>
                <p>The most advanced <strong>clinics and medical specialists</strong> have already appreciated all the advantages of using our online tool, that why they provide a special price offer and discounts to all participants of our system.</p>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->

    </div>
    <!--/.card-->
 
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            <h3>Best clinics</h3>

            <p>We cooperate with clinics, in which highly qualified specialists work.</p>

        </div>
        <!--/.col-->
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            <h3>Proven Doctors</h3>

            <p>On our site are posted questionnaires, the best and most importantly, proven doctors.</p>

        </div>
        <!--/.col-->
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            <h3>Special prices</h3>

            <p>All participants of the MedPoints system receive special price offers from medical institutions.</p>

        </div>
        <!--/.col-->
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            <h3>Only genuine reviews</h3>

            <p>Our site contains only genuine reviews, patients visited doctors.</p>

        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h2>Friendly <strong>for patients</strong></h2>
            <p></p>
            <a href="https://youtube.com" target="_blank"><img class="img-responsive" src="http://via.placeholder.com/650x450" alt="" /></a>
			<br />
			<br />
			<a href="https://youtube.com" target="_blank"><i class="fas fa-play"></i> Watch video on YouTube</a>
			<hr />
			<p>MedPoints&#8482; for patients is a source of information about doctors and medical services worldwide with honest rankings and live feedback, a mobile app enabling them to arrange an appointment with any specialist in just 3 clicks.</p>
        </div>
        <!--/.col-->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h2>Functional <strong>for medics</strong></h2>
            <p></p>
            <a href="https://youtube.com" target="_blank"><img class="img-responsive" src="http://via.placeholder.com/650x450" alt="" /></a>
			<br />
			<br />
			<a href="https://youtube.com" target="_blank"><i class="fas fa-play"></i> Watch video on YouTube</a>
			<hr />
			<p>MedPoints&#8482; for medical institutions is a source of new, loyal customers. It is a convenient and easy-to-use software that combines the features of the reception and file records of patients.</p>
        </div>
        <!--/.col--> 
    </div>
    <!--/.row-->
	
	<h2>Beneficial <strong>for investors</strong></h2>
	
	<p>MedPoints&#8482; for investors is the MPT token secured by live money received from both new members and regular users. Any member of the platform with a balance above the threshold can become an Investor and earn an interest from each transaction in the system.</p>
	
	<hr />
	
	<h2>System of <strong>insurance points</strong></h2>

	<p>The system of <strong>insurance points</strong> in the MedPoints&#8482; network is a protocol through which an insurance fund is formed from regular user contributions, which the patient can spend on the services listed in a smart contract with a medical institution.</p>

	<h3>Advantages of insurance system for patients:</h3>

	<ul>
		<li><i class="fas fa-check"></i> Guarantees the qualified medical assistance using the funds accumulated under the insurance program;</li>
		<li><i class="fas fa-check"></i> Allows to benefit from medical services in clinics worldwide;</li>
		<li><i class="fas fa-check"></i> Special prices from medical institutions; and</li>
		<li><i class="fas fa-check"></i> Increases personal responsibility for the state of health and creates conditions for interest in its preservation and promotion.</li>
	</ul>

	<h2>Medical <strong>assistance fund</strong></h2>

	<p>The feature of decentralized fundraising to help critically ill or needy people is one of the most significant aspects of the MedPoints&#8482; system. <strong>Fundraising campaigns</strong> can only by launched by the official partners of the platform, which, combined with decentralization, excludes any chance of fraud or misuse of the funds raised.</p>

	<h2>MPT Token</h2>

	<p><strong>MPT Tokens</strong> are internal points of the system that patients can accumulate or exchange for the services provided by the platform.</p>

	<ul>
		<li><strong>Role</strong>: Circulate within the network (Utility tokens)</li>
		<li><strong>Ticket</strong>: MPT
		<li><strong>Base</strong>: Ethereum (ERC20)
		<li><strong>Price for token</strong>: 1 MPT = ... USD
		<li><strong>Total Tokens</strong>: ... MPT 
		<li><strong>Token Sale (Available for token sale)</strong>: ... MPT
	</ul>
</div>