

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Partnership</li>
        </ol>
    </nav>
	
	<p>The market of medical services provides huge opportunities for the introduction of blockchain technologies, but so far there are units of projects that find practical application of decentralization in the logic of interaction between the doctor and the patient.</p>
	
	<div class="row"> 
        <div class="col">  
	
			<p>For representatives of medical institutions, we provide a fundamentally new format for communication between doctors and patients with ever-increasing traffic and expanding geography, as well as convenient and easy-to-use software for processing and storing orders.</p>

			<p>MedPoints&#8482; for medical institutions is:</p>

			<ul>
				<li><i class="fas fa-check"></i> Private channel of communication with the patient</li>
				<li><i class="fas fa-check"></i> Structured card-index of patients medical records</li>
				<li><i class="fas fa-check"></i> Expand geography of customers</li>
				<li><i class="fas fa-check"></i> The opportunity to represent their specialists, services and products</li>
				<li><i class="fas fa-check"></i> Instrument for digitization of medical services deals</li>
				<li><i class="fas fa-check"></i> Eliminating unnecessary work with papers</li>
			</ul>

			<p>Participation in the MedPoints&#8482; system does not require any pay from medical institutions or their representations. Any member of the system in the rank of the Partner contributes make it's part to the project by providing computing power.</p> 

			<p>This does not mean that in order to gain access to the flow of customers from all over the world you need a supercomputer, it is enough to install, provided by a free license software on a stationary computer in the office and train the manager to work with a simple program interface.</p> 
			
        </div>
        <!--/.col--> 
    </div>
    <!--/.row-->
	
	<hr />
	
	<img class="img-responsive" src="img/smart-contract-eng.svg" alt="" />
	
	<br />
	<br />
 
	<h2>Software requirements</h2>

    <div class="table-responsive">
        <table summary="" class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <h3>Windows</h3>
                    </th>
                    <th>
                        <h3>macOS</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Ability to add doctors and services</strong></td>
                    <td colspan="2"><i class="fas fa-plus"></i></td>
                </tr>
                <tr>
                    <td><strong>Access to the system 24/7</strong></td>
                    <td><i class="fas fa-plus"></i></td>
                </tr>
                <tr>
                    <td><strong>Transactions</strong></td> 
                    <td colspan="2">
						<div>Processed on the side of the clinic</div>
                    </td>
                </tr>
                <tr>
                    <td><strong>Operating system</strong></td>
                    <td>
                        <div>Microsoft Windows 10 (64-bit only) or later</div> 
                    </td>
                    <td> 
                        <div>Apple&#9415; macOS&trade; High Sierra v10.13 or later</div>
                    </td>
                </tr> 
                <tr>
                    <td><strong>CPU Type</strong></td>
                    <td colspan="2">
                        <div>32-bit: 1 gigahertz (GHz) or faster 32-bit (x86) processor</div>
                        <div>64-bit: 1 gigahertz (GHz) or faster 64-bit (x64) processor</div>
                    </td>
                </tr>
                <tr>
                    <td><strong>Memory</strong></td>
                    <td colspan="2">
                        <div>32-bit: 4 GB</div>
                        <div>64-bit: 8 GB</div>
                    </td>
                </tr>
                <tr>
                    <td><strong>Display Resolution</strong></td>
                    <td>1360 x 768 (1920 x 1080 recommended)</td>
                    <td>1280 x 800 for Apple&#9415; displays</td>
                </tr>
                <tr>
                    <td><strong>Display Card</strong></td>
                    <td colspan="2">DirectX 11 compliant card recommended</td>
                </tr>
                <tr>
                    <td><strong>Disk Space</strong></td>
                    <td colspan="2">Installation 40.0 GB (Grow in time)</td>
                </tr>
                <tr>
                    <td><strong>Pointing Device</strong></td>
                    <td>Pro trackpad, or Microsoft-compliant mouse</td>
                    <td>Apple&#9415; Mouse, Apple Magic Mouse, Magic Trackpad, MacBook&#9415;</td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#freeLicense">Get free Software for Windows</a></td>
                    <td><a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#freeLicense">Get free Software for macOS</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--end of .table-responsive-->
	
	<p>Cooperation with the MedPoints&#8482; system encourages the provision of professional medical services at a high level, which ultimately affects not only the profits of each particular market participant, but also the well-being of society.</p>
 
