
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registration</li>
    </ol>
</nav>

<div class="alert alert-info alreadyRegisteredContainer" role="alert" style="display:none;">
    <strong>Welcome!</strong> You are already logged in. If you want to register again, please log out and refresh this page.
</div>

<div class="registerContainer">
    <h2>Exisitng Customer? <a href="#" data-toggle="modal" data-target="#login">Click here to login</a></h2>

    <br />

    <div class="alert alert-info" role="alert">
        <strong>Welcome!</strong> We have generated for you a unique <strong>ID</strong> and a <strong>KEY</strong> for authorization on the platform.
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                <label for="walletId">Wallet ID</label>
                <input type="text" class="form-control" id="registerWalletId" value="" disabled="disabled" required />
                <div class="copy-text" id="registerWalletIdText"></div>
                <a class="copy-link btn-copy1" onclick="copyToClipboard($('#registerWalletIdText'))"><i class="far fa-copy"></i> Copy</a>
            </div>
        </div>
        <!--/.col-->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                <label for="walletKey">Wallet key</label>
                <input type="text" class="form-control" id="registerWalletKey" value="" disabled="disabled" required />
                <div class="copy-text" id="registerWalletKeyText"></div>
                <a class="copy-link btn-copy2" onclick="copyToClipboard($('#registerWalletKeyText'))"><i class="far fa-copy"></i> Copy</a>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row--> 

    <br />

    <div class="row">
        <div class="col">  
            <label class="custom-control custom-checkbox">
                <input type="checkbox" id="termsAccept" class="custom-control-input" checked="checked">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">I accept</span>
            </label> <a href="/terms-of-use" target="_blank">Terms of use</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a> 
        </div>
        <!--/.col--> 
    </div>
    <!--/.row-->

    <hr />

    <div class="row">
        <div class="col">  
            <a id="registerButton" class="btn btn-primary" href="/">Registration</a>
        </div>
        <!--/.col--> 
    </div>
    <!--/.row-->
</div>

<script src="/js/src/auth.js"></script>
<script src="/js/src/registration.js"></script>