<?php define( '_ACCESS', 1 ); ?>

<?php

    $page_name = 'registration';
    $page_title = 'Registration';
	$page_keywords = '';
	$page_description = '';
	
?>

    <?php include($_SERVER["DOCUMENT_ROOT"]."/inc/header.php"); ?>
	
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><?=$page_title?></li>
        </ol>
    </nav>

    <h2>Exisitng Customer? <a href="#" data-toggle="modal" data-target="#login">Click here to login</a></h2>

    <br />

    <div class="alert alert-info" role="alert">
        <strong>Welcome!</strong> We have generated for you a unique <strong>ID</strong> and a <strong>KEY</strong> for authorization on the platform.
    </div>
 
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                <label for="walletId">Wallet ID</label>
                <input type="text" class="form-control" id="walletId" value="Ghhhsbb$hfhjaj77ghsFGGDa91PPvDa" disabled="disabled" required />
				<div class="copy-text" id="walletIdText">Ghhhsbb$hfhjaj77ghsFGGDa91PPvDa</div>
                <a class="copy-link btn-copy1" onclick="copyToClipboard('#walletIdText')"><i class="far fa-copy"></i> Copy</a>
            </div>
        </div>
        <!--/.col-->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                <label for="walletKey">Wallet key</label>
                <input type="text" class="form-control" id="walletKey" value="EEtdgg177FDahhdSpQnnVBCq333Fad" disabled="disabled" required />
				<div class="copy-text" id="walletKeyText">EEtdgg177FDahhdSpQnnVBCq333Fad</div>
                <a class="copy-link btn-copy2" onclick="copyToClipboard('#walletKeyText')"><i class="far fa-copy"></i> Copy</a>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row--> 
 
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First name" required />
        </div>
        <!--/.col-->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last name" required />
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
 
    <div class="row">
        <div class="col"> 
		
			<br />

    		<h3>Sex</h3> 
    		<label class="custom-control custom-radio">
				<input id="radio2" name="radio" type="radio" class="custom-control-input" checked="checked">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">Male</span>
			</label>
    		<label class="custom-control custom-radio">
				<input id="radio3" name="radio" type="radio" class="custom-control-input">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">Female</span>
			</label> 
        </div>
        <!--/.col--> 
    </div>
    <!--/.row-->
			 
    <hr />
				
	<h3>Add email, if you want to get notifications</h3> 
						
	<div class="row"> 
                   
		<div class="col-6">
			<label for="email">Email</label>
			<input type="text" name="email" class="form-control" id="email" placeholder="Email" />
		</div>
		<!--/.col-->
		<div class="col-6">
			<label for="confirmEmail">Confirm email</label>
			<input type="text" name="confirmEmail" class="form-control" id="confirmEmail" placeholder="Confirm email" />
		</div>
		<!--/.col-->
					
	</div>
	<!--/.row--> 
	
	<br />
 
    <div class="row">
        <div class="col">  
			<label class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" checked="checked">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">I accept</span>
			</label> <a href="/terms-of-use" target="_blank">Terms of use</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a> 
        </div>
        <!--/.col--> 
    </div>
    <!--/.row-->

    <hr />
 
    <div class="row">
        <div class="col">  
    		<a class="btn btn-primary" href="">Registration</a>
        </div>
        <!--/.col--> 
    </div>
    <!--/.row-->
	 
    <?php include($_SERVER["DOCUMENT_ROOT"]."/inc/footer.php"); ?>