
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{localize 'breadcrumbs.terms'}}</li>
        </ol>
    </nav>

    <div class="row">

        <div class="col">
           
			{{{localize 'terms'}}}
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
